{% extends 'back.html.twig' %}

{% block body %}
<a class="btn btn-lg btn-primary" href="{{ path('app_reclamation_index') }}">Reclamation</a>
<a class="btn btn-lg btn-primary" href="{{ path('app_typeReclamation_index') }}">typeReclamation de reclamation</a>
{% endblock %}
