{% extends 'back.html.twig' %}

{% block body %}
<a class="btn btn-lg btn-primary" href="{{ path('app_livraison_index') }}">Livraison</a>
<a class="btn btn-lg btn-primary" href="{{ path('app_categorie_index') }}">categorie de livraison</a>
{% endblock %}
